* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.hide {
    display: none;
}

header {
    position: fixed;
    height: 9.5vh;
    width: 100%;
    background-color: #fff;
}

header img {
    height: 8vh;
    width: auto;
    display: inline-block; 
    padding: 5px;
}

#menuButton {
    float: right;
    margin: 2vh 10px;
    height: 6vh;
    background-color: #fff;
    border: 2px solid black;
    padding-left:6vw;
    padding-right: 6vw;
    line-height: 4vh;
    border-radius:15px;
}

#menuNav a {
    text-decoration: none;
    color: #fff;
    background: #777;
    width: 30%;
    display: block;
    margin-left: 64%;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #eee;
    margin-top: -1vh;
}

nav {
    display: none;
}

nav a {
    color: black;
}

nav li:hover {
    text-decoration: underline;
}

main {
    padding-top: 9.5vh;
}

#heroSection {
    background: url('./images/snowboard.jpg');
    background-size: cover;
    background-position: center;   
}

#heroSection div {
    background: rgba(0,0,0,.6);
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 1em;
}

#newsHeadline {
    width: 90vw;
    margin: auto;
    margin-top: 10vh;
}

#heroSection a {
    display: block;
    margin: auto;
    margin-top: 5vh;
    width: 250px;
    background: rgba(0,0,0,0);
    border-radius: 35px;
    color: white;
}

#heroSection button {
    display: block;
    margin: auto;
    width: 250px;
    background: rgba(0,0,0,0);
    border: none;
    color: white;
    border: 2px solid white;
}

div a {
    text-decoration: none;
}

#heroSection button:hover {
    background: rgba(255,255,255,.4);
    cursor: pointer;
}

#heroSection h2 {
    margin: 2vh auto;
}


#circleArea {
    text-align: center;
    padding-bottom: 10vw;
}

#circleArea h1 {
    font-size: 1.5em;
    margin: 6vw 0;
}


.circleItem {
    margin: 1vw;
    display: inline-block;
    height: 40vw;
    width: 40vw;
    line-height: 40vw;
    border-radius: 100000000px;
    font-size: 1em;
    font-family: Helvetica;
    color: white;
}


.circleItemFootball {
    background: url('./images/football.jpg');
    background-position: center;
    background-size: cover;
}

.circleItemSoccer {
    background: url('./images/soccer.jpg');
    background-size: cover;
}

.circleItemBasketball {
    background: url('./images/basketball.jpg');
    background-size: cover;

}

.circleItemBaseball {
    background: url('./images/baseball.jpg');
    background-position: center;
    background-size: cover;
}

.circleItemHockey {
    background: url('./images/hockey.jpg');
    background-position: center;
    background-size: cover;
}

.circleItemOlympics {
    background: url('./images/olympics.jpg');
    background-size: cover;
}

.circleItemGolf {
    background: url('./images/golf.jpg'); 
    background-size: cover;
}

.circleItemTennis {
    background: url('./images/tennis2.jpg');
    background-position: center;
    background-size: cover;
}

#textLogoArea {
    text-align: center;
    background: url('./images/tennis.jpg');
    background-size: cover;
    background-position: center;
}
#opacityLevel {
    background: rgba(255,255,255, .9);
}

.partialWidth div  {
    width: 85vw;
    margin: auto;
}

.partialWidth div h1 {
    font-size: 1.5em;
    margin-bottom: 3vw;
    padding-top:5vw;
}

#textLogoArea img {
    width: 40vw;
    margin: auto;
    border-top: 1px solid black;
    padding-top: 5vw;
    margin-top: 5vw;
}

/*For Contact Form Page */
#contactFormHeader {
    background: url('https://static.pexels.com/photos/515169/pexels-photo-515169.jpeg');
    height: 100%;
    background-size:cover;
}

#headerOpacityLayer {
    background: rgba(0,0,0,.6);
    height: 100%;
    text-align: center;
    color: white;
    padding-bottom: 5vh;
}

#headerOpacityLayer h1 {
    padding-top: 3.5em;
    padding-bottom: .8em;
    width: 95vw;
    margin: auto;
}

#headerOpacityLayer p {
    font-size: 1.1em;
    width: 90vw;
    margin: auto;
}

#contactFormArea {
    width: 75vw;
    margin: 3vh auto;
    padding: 5vw;
    background: rgba(0,0,0,.5);
}

#contactFormArea input, #contactFormArea label {
    margin: 1vh 2vh;
}

#contactFormArea label {
    text-align: left;
    font-size: 1.3em;
    margin-bottom: -1em;
    margin-top: 2vh;
    display: block;
}

#contactFormArea input, select {
    margin-bottom: 2vh;
    background: rgba(255,255,255,.3);
    border-radius: 5px;
    height: 1.8em;
    padding: .2em;
    color: white;
    border: none;
}

#submitForm {
    background: green;
    font-weight: 700;
    color: white;
    border: 2px solid rgb(19, 73, 19);
    border-radius: 10px;
    text-align: center;
    margin: 4vh auto 1vh auto;
    height: 3em;
    width: 8em;
}

footer {
    height: 100px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

footer h3 {
    line-height: 30px;
    margin: 0 auto;
    height: 30px; 
    font-weight: lighter;
    font-size: .8em;
}

footer h3 a {
    text-decoration: none;
    color: black;
}

footer h3 a:hover {
    text-decoration: underline;
}

#footerLogoContainer {
    line-height: 50px;
    height: 50px;
    margin: auto;
}

footer img {
    line-height: 50px;
    width: auto;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: -5px;
}


@media (min-width: 500px) {

    #headerOpacityLayer {
        padding-top: 6vh;
    }
    #contactFormArea {
        width: 55vw;
    }

    #contactFormArea input {
        width: 35vw;
    }

    #heroSection {
        height: 60vh;
    }

    #heroSection div {
        height: 40vh;
        padding: 10vh 0 10vh 0;
    }

    #newsHeadline {
        font-size: 3em;
        margin-bottom: 15vh;
        margin-bottom: 5vh;
    }

    .circleItem {
        height: 20vw;
        width: 20vw;
        line-height:20vw;
    }

    #opacityLevel p {
        font-size: 1.1em;
    }

    footer {
        height: 100px;
        text-align: center;
        line-height: 100px;
        height: 100px;
        padding: 0;
        margin: 0;
    }
    
    footer h3 {
        display: inline-block;
        width: 30vw;
    }
    
    #footerLogoContainer {
        display: inline-block;
    }
    
    footer img {
        height: auto;
        width: 150px;
        margin-bottom: -30px;
        display: inline-block;
    }
}

@media(min-width: 630px) {
    header {
        height: 5.5em;
    }
    
    header img {
        height: 4.5em;
        width: auto;
        padding: 7px;
    }

    #menuButton {
        margin: 1.3em 1em;
        height: 3.2em;
        width: 100px;
        text-align: center;
        padding: 0;
    }

    #heroSection div {
        font-size: 1em;
        padding: 20vh 0 0 0;
    }

    #newsHeadline {
        margin: 0 auto;
    }

    #circleArea h1 {
        font-size: 1.8em;
    }
    .circleItem {
        margin-top: 3vh;
    }

    #opacityLevel h1 {
        font-size: 1.8em;
    }

    #opacityLevel p {
        line-height: 1.7em;
        font-size: 1.4em;
    }
}

@media(min-width: 990px) {

    #contactFormArea {
        padding: 5vh;
        width: 35vw;
        font-size: 1.3em;
    }

    #contactFormArea input {
        width: 25vw;
        height: 1.2em;
        font-size: 1.3em;
    }

    #contactFormArea select {
        height: 2em;
        font-size: 1.1em;
        width: 25vw;
        margin-top: 1vh;
    }

    #contactFormArea button {
        font-size: 1.1em;
    }

    #menuButton {
        display: none;
    }

    nav {
        display: inline-block;
        float: right;
        line-height: 5.4em;
        height: 3.6em;
        padding-right: 15px;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        line-height: 3em;
        padding: 0 15px;
        font-family: Helvetica;
    }

    #heroSection {
        height: 70vh;
    }

    #heroSection div {
        height: 50vh;
    }

    #newsHeadline {
        margin-top: 0;
        margin-bottom: 10vh;
    }

    #circleArea {
        padding-bottom: 5vh;
    }

    #circleArea h1 {
        margin: 5vh;
    }

    .circleItem {
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
        margin: 1vh;
    }

    #textLogoArea {
        height: 69vh;
        margin: auto;
    }

    #opacityLevel {
        height: 69vh;
    }

    .partialWidth div {
        padding: 0;
        width: 40vw;
        float: left;
        height: 40vw;
        margin: 3vh 0;
        padding-left: 8vw;
        max-height: 65vh;
        max-width: 65vh;
    }

    #opacityLevel h1 {
        padding-top: w;
        margin-bottom: 5px;
    }

    #opacityLevel p {
        line-height: 5vh;
        padding-top: 1vw;
    }
    
    #textLogoArea img {
        padding: 0;
        width: 40vw;
        border-top: none;
        float: right;
        height: 40vw;
        margin: 3vh 0;
        padding-right: 7vw;
        max-height: 65vh;
        max-width: 65vh;
    }
    
}

@media(min-width: 1500px) {
    #headerOpacityLayer h1 {
        margin: 6vh auto;
        margin-top: 2vh;
        font-size: 3em;
    }

    #circleArea {
        width: 85vw;
        margin: auto;
        height: 30vh;
    }
    .circleItem {
        width: 9vw;
        height: 9vw;
        line-height: 9vw;
    }
    #circleArea h1 {
        font-size: 2.2em;
    }

    #textLogoArea {
        margin: 0;
        padding: 5vh 0;
        height: 34vw;
    }

    #opacityLevel {
        margin: 0;
        padding: 5vh 0;
        height: 34vw;
        margin-top: -5vh;
    }

    .partialWidth {
       padding: 0;
       width: 70vw; 
       height: 34vw;
       margin: 0 auto;
    }

    .partialWidth div {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        width:  34vw;
        height: 34vw;  
    }

    #textLogoArea img {
        padding: 0;
        width: 34vw;
        height: 34vw;
        margin: auto;
    }

    .partialWidth div h1 {
        text-align: center;
    }
}