

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" value="Jordan Jones">
        <meta charset="utf-8">
        <title>Your Sports News</title>
        <link rel="stylesheet" href="../main.css">
    </head>
    <body>
        <header>
            <a href="#"><img src="../images/logo.png" alt="Site Logo"></a>
            <nav>
                <ul>
                    <a href="#circleArea"><li>SPORTS</li></a>
                    <a href="./contact.html"><li>CONTACT</li></a>
                </ul>
            </nav>
            <button id="menuButton" onclick="toggleNav()">Menu</button>
            <div id="menuNav" class="hide">
                <a href="#circleArea">SPORTS</a>
                <a href="./contact.html">CONTACT</a>              
            </div>
        </header>

        <main>
            <div id="heroSection">
                <div>
                    <h1 id="newsHeadline">BRINGING YOU YOUR SPORTS NEWS</h1>
                    <a href="https://www.youtube.com/channel/UCEgdi0XIXXZ-qJOFPf4JSKw"><button><h2>Watch Video</h2></button></div><a>
                </div>
            </div>

            <div id="circleArea" class="partialWidth">
                <h1>GET THE NEWS</h1>
                <a href="http://www.espn.com/nfl/"><h2 class="circleItem circleItemFootball" id="football">FOOTBALL</h2></a>
                <a href="http://www.espn.com/nba/"><h2 class="circleItem circleItemBasketball" id="basketball">BASKETBALL</h2></a>   
                <a href="http://www.espn.com/mlb/"><h2 class="circleItem circleItemBaseball" id="baseball">BASEBALL</h2></a>
                <a href="http://www.espn.com/nhl/"><h2 class="circleItem circleItemHockey" id="hockey">HOCKEY</h2></a>
                <a href="http://www.espn.com/olympics/"><h2 class="circleItem circleItemOlympics" id="olympics">OLYMPICS</h2></a>
                <a href="http://www.espn.com/soccer/"><h2 class="circleItem circleItemSoccer" id="soccer">SOCCER</h2></a>
                <a href="http://www.espn.com/golf/"><h2 class="circleItem circleItemGolf" id="golf">GOLF</h2></a>
                <a href="http://www.espn.com/tennis/"><h2 class="circleItem circleItemTennis" id="tennis">TENNIS</h2></a>
            </div>

            <div id="textLogoArea">
                <div id="opacityLevel">
                    <div class="partialWidth">
                        <div>
                            <h1>LOREM <span id="ipsumRed">IPSUM</span></h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div> 
                        <img src="../images/flowerlogo.png" alt="Flower Logo">
                    </div> 
                </div>
            </div>

            <footer>
                <h3 id="footerPart1">LOREM IPSUM</h3>
                <div id="footerLogoContainer">
                  <img src="../images/logo.png" alt="Footer Logo" id="footerLogo">
                  <a href="#"></a>  
                </div>
                <h3 id="footerPart2"><a href="/contact">Contact</a> | <a href="">Other</a> | <a href="">Other 2</a></h3>
            </footer>
            <script src="../main.js"></script>
        </main>
    </body>
</html>